body { 
    display: block;
}

/***** Header Start *****/

header {
    display: flex;
    font-family: Verdana;
    font-weight: bold;
    width: 100%;
    position: fixed;
    height: 80px;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid black;
}

.logo {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-left: 30px;
}

.logo img {
    width: 70px;
    height: 60px;
    margin-right: 12px;
}

.logo span {
    color: mediumaquamarine;
}

nav {
    display: flex;
    padding-right: 40px;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

/***** Header End *****/
/***** Main Content *****/

div {
    border: 1px solid black;
    display: block;
}

.main_content {
    display: flex;
    justify-content: space-between;
}

.column_large {
    width: 630px;
    margin-top: 100px;
}

.column_medium {
    width: 300px;
    margin-top: 100px;
}

.column_small {
    width: 240px;
    margin-top: 100px;
}